.tabsDynamicTabs .remove-tab {
    margin-bottom: 40px;
}
.tabsDynamicTabs .md-button {
    display: block;
}
.tabsDynamicTabs .demo-tab {
    text-align: left;
}
.tabsDynamicTabs .tab0 {
    background-color: #E3F2FD;
}
.tabsDynamicTabs .tab1 {
    background-color: #E1F5FE;
}
.tabsDynamicTabs .tab2 {
    background-color: #E0F7FA;
}
.tabsDynamicTabs .tab3 {
    background-color: #E0F2F1;
}
.tabsDynamicTabs .title {
    padding-top: 8px;
    padding-right: 8px;
    text-align: left;
    text-transform: uppercase;
    color: #888;
    margin-top: 24px;
}
.tabsDynamicTabs [layout-align] > * {
    margin-left: 8px;
    margin-right: 8px;
}
.tabsDynamicTabs form > [layout] > * {
    margin-left: 8px;
    margin-right: 8px;
}
.tabsDynamicTabs .long > input {
    width: 264px;
}
.tabsDynamicTabs .md-button {
    max-height: 30px;
}

.hoverBackground:hover, .hoverBackground:active{
    background-color: #e6e6e6;
    -webkit-transition: 0.25s; /* For Safari 3.1 to 6.0 */
    transition: 0.25s;
}

